
@media (min-width: 1200px){
	.container {
		max-width: 1240px;
	}
	
	#main{
		max-width:910px;
	}
}

@media (max-width: 1239px){
	.big-screen-ads {
		display:none;
	}
}

/* override bs */
.img-thumbnail {
   border: 0;
}

body {
  min-height: 50rem;
  padding-top: 3.8rem;
}

blockquote {
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  border-left: 0.25rem solid #eeeeee;
  font-style: italic;
}

.center {
  text-align: center;
}

.center div {
  display: inline-block;
}

h4 {
  margin-top: 1rem;
}

a {
  color: #0056b3;
}

/*a:hover {
 	cursor:pointer;
}*/

.listing-box {
  margin-bottom: 1rem;
}

.post-meta {
  font-size: 90%;
  color: #868e96;
}

/* ads box */
.ads-box {
  padding: 0.5rem 0;
  width: 100%;
}

.ads-box-top-responsive{
  max-height:250px;
}

.ads-box-no-top-margin{
  padding-top: 0;
}

#author-info {
  /*border: 1px solid #eee;
  border-left: 5px solid #0056b3;*/
  padding: 1.25rem;
  /*background-color: #F8F8F8;*/
}

/** Box **/

.download {
  padding: 40px 85px;
  border: 1px solid #CEEBCE;
  background: url('images/download.png') no-repeat 25px 25px #DFF7DF;
  margin-bottom: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.github {
  padding: 40px 85px;
  border: 1px solid #D1D1E8;
  background: url('images/github.png') no-repeat 25px 25px #E6E6FC;
  margin-bottom: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.note {
  background-color: #E6E6FC;
  border: 1px solid #D1D1E8;
  padding: 1rem;
  margin: 1rem 0;
}

.warning {
  background-color: #F7F7DA;
  border: 1px solid #E5E5C3;
  padding: 1rem;
  margin: 1rem 0;
}

.trap {
  background-color: #FAE1E1;
  border: 1px solid #F5C4C4;
  padding: 1rem;
  margin: 1rem 0;
}

/**
 * Source Code
 */

.filename {
  background-color: #E6E6FC;
  border: 1px solid #D1D1E8;
  padding: 0.5rem 1rem;
  border-bottom: none;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  margin-top: 1rem;
}

pre {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  word-wrap: normal;
  background-color: #F7F7F9;
  overflow: auto;
  /*max-width: 800px;*/
}

pre[class*="language-"] {
  padding: 1rem 0 1rem 1rem!important;
  /* need this, else bs will align weird */
  margin-top: 0;
  margin-bottom: 1rem;
  border: 1px solid #D1D1E8;
  background-color: #F7F7F9;
}

/**
 * Search Box
 */

#searchButton:hover {
  cursor: pointer;
}

/**
 * Page View
 */

.pv-row {
  margin-bottom: 0.5rem;
}

.no-left-right-padding {
  padding-right: 0;
  padding-left: 0;
}

.no-left-padding {
  padding-left: 0;
}

.pvbox-container {
  font-size: 85%;
  margin-bottom: 1rem;
}

.pvbox {
  padding: 0.1rem 0;
  font-size: 95%;
  text-align: center;
  border-radius: 2px;
  height: auto;
  transform: translateY(1px);
  width: 100%;
}

.kformat {
  color: #FFF;
  /*background-color: #5fba7d;*/
  background-color: #26A69A;
}

.mformat {
  color: #FFF;
  background-color: #EF5350;
}

/**
 * Images
 */

.pic {
  background-color: #F9F9F9;
  border: 1px solid #DDD;
  /*margin: 20px 0;*/
  margin-bottom: 1rem;
  padding: 20px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* responsive .img-fluid in bs */

.pic img {
  height: auto;
  max-width: 100%;
}

/**
 * Content
 */

#post-content {
  margin: 1rem 0;
  padding: 1.5rem 0 0 0;
  border-top: 1px dashed #DDD;
}

.post-tag{
  margin-top:0.2em;
}

.post-tag a {
  border-color: transparent;
  padding: 0.3rem 0.5rem;
  border: 1px solid #D1D1E8;
}

.post-tag a:hover {
  border: 1px solid #0F3B68;
  text-decoration: none;
}

.listing-title{
  margin-bottom:1.5em;
}

/**
 * Pagination
 */

.pagination {
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.page-link {
  color: #0056b3;
}

.page-item.active .page-link {
  background-color: #0056b3;
  border-color: #0056b3;
}

/**
 * Sidebar
 */
#sidebar-left {
  max-width: 200px;
  border-right: 1px solid rgba(0, 0, 0, .1);
  background-color: #f1f1f1!important;
  padding-top: 10px;
}
	
#sidebar-right {
  max-width: 330px;
}

.sidebar-box {
  margin-bottom: 0.1rem;
  width:100%;
}

/**
 * Header + Nav
 */

.bg-blue {
  background-color: #0F3B68!important;
}

.dropdown-divider {
  margin: 1rem 0;
  border-top: 1px solid #868e96;
}

/**
 * Test Ads
 */

.ads-bg-grey {
  background-color: #F8F8F8;
}

.test-ads-300 {
  width: 300px;
  height: 250px;
  background-color: #000;
}

.test-ads-160 {
  width: 160px;
  height: 600px;
  background-color: #000;
}

.test-ads-728 {
  width: 728px;
  height: 90px;
  background-color: #000;
}

/**
* Comment
*/
#comment{
	max-width: 950px;
}
 
/**
 * Footer
 */
footer {
  color: #fff;
  background-color: #0F3B68;
  border-top: 1px solid #364C62;
  width: 100%;
}

footer h4 {
  border-bottom: 1px solid #3F6286;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer a, footer a:visited {
  color: #91C8FE;
}

footer a:hover {
  color: #FFFFFF;
}

#footer-link{
  margin:20px 0;
}

#footer-copyright {
  background-color: #0A2540;
  border-top: 1px solid #364C62;
  padding:10px 0;
}

       
        table {
            border-collapse: collapse;
        }
        
        img,
        a img {
            border: 0;
            outline: none;
            text-decoration: none;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
            padding: 0;
        }
        
        p {
            margin: 1em 0;
            padding: 0;
        }
        
        a {
            word-wrap: break-word;
        }
        
        .ReadMsgBody {
            width: 100%;
        }
        
        .ExternalClass {
            width: 100%;
        }
        
        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
            line-height: 100%;
        }
        
        table,
        td {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }
        
        #outlook a {
            padding: 0;
        }
        
        img {
            -ms-interpolation-mode: bicubic;
        }
        
        body,
        table,
        td,
        p,
        a,
        li,
        blockquote {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }
        
        #bodyCell {
            padding: 20px;
        }
        
        .Image {
            vertical-align: bottom;
        }
        
        .TextContent img {
            height: auto !important;
        }
        /*
         @tab Page
         @section background style
         @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
         */
        
        body,
        #bodyTable {
            /*@editable*/
            background-color: #2f70dd;
        }
        /*
         @tab Page
         @section background style
         @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
         */
        
        #bodyCell {
            /*@editable*/
            border-top: 0;
        }
        /*
         @tab Page
         @section email border
         @tip Set the border for your email.
         */
        
        #templateContainer {
            /*@editable*/
            border: 0;
        }
        /*
         @tab Page
         @section heading 1
         @tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
         @style heading 1
         */
        
        h1 {
            /*@editable*/
            color: #606060 !important;
            display: block;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 40px;
            /*@editable*/
            font-style: normal;
            /*@editable*/
            font-weight: bold;
            /*@editable*/
            line-height: 125%;
            /*@editable*/
            letter-spacing: -1px;
            margin: 0;
            /*@editable*/
            text-align: left;
        }
        /*
         @tab Page
         @section heading 2
         @tip Set the styling for all second-level headings in your emails.
         @style heading 2
         */
        
        h2 {
            /*@editable*/
            color: #404040 !important;
            display: block;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 26px;
            /*@editable*/
            font-style: normal;
            /*@editable*/
            font-weight: bold;
            /*@editable*/
            line-height: 125%;
            /*@editable*/
            letter-spacing: -.75px;
            margin: 0;
            /*@editable*/
            text-align: left;
        }
        /*
         @tab Page
         @section heading 3
         @tip Set the styling for all third-level headings in your emails.
         @style heading 3
         */
        
        h3 {
            /*@editable*/
            color: #606060 !important;
            display: block;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 18px;
            /*@editable*/
            font-style: normal;
            /*@editable*/
            font-weight: bold;
            /*@editable*/
            line-height: 125%;
            /*@editable*/
            letter-spacing: -.5px;
            margin: 0;
            /*@editable*/
            text-align: left;
        }
        /*
         @tab Page
         @section heading 4
         @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
         @style heading 4
         */
        
        h4 {
            /*@editable*/
            color: #808080 !important;
            display: block;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 16px;
            /*@editable*/
            font-style: normal;
            /*@editable*/
            font-weight: bold;
            /*@editable*/
            line-height: 125%;
            /*@editable*/
            letter-spacing: normal;
            margin: 0;
            /*@editable*/
            text-align: left;
        }
        /*
         @tab Preheader
         @section preheader style
         @tip Set the background color and borders for your email's preheader area.
         */
        
        #templatePreheader {
            /*@editable*/
            background-color: #2f70dd;
            /*@editable*/
            border-top: 0;
            /*@editable*/
            border-bottom: 0;
        }
        /*
         @tab Preheader
         @section preheader text
         @tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
         */
        
        .preheaderContainer .TextContent,
        .preheaderContainer .TextContent p {
            /*@editable*/
            color: #bdd8f9;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 11px;
            /*@editable*/
            line-height: 125%;
            /*@editable*/
            text-align: center;
        }
        /*
         @tab Preheader
         @section preheader link
         @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
         */
        
        .preheaderContainer .TextContent a {
            /*@editable*/
            color: #ffb555;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: underline;
        }
        /*
         @tab Header
         @section header style
         @tip Set the background color and borders for your email's header area.
         */
        
        #templateHeader {
            /*@editable*/
            background-color: #2f70dd;
            /*@editable*/
            border-top: 0;
            /*@editable*/
            border-bottom: 0;
        }
        /*
         @tab Header
         @section header text
         @tip Set the styling for your email's header text. Choose a size and color that is easy to read.
         */
        
        .headerContainer .TextContent,
        .headerContainer .TextContent p {
            /*@editable*/
            color: #606060;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 15px;
            /*@editable*/
            line-height: 150%;
            /*@editable*/
            text-align: left;
        }
        /*
         @tab Header
         @section header link
         @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
         */
        
        .headerContainer .TextContent a {
            /*@editable*/
            color: #6DC6DD;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: underline;
        }
        /*
         @tab Body
         @section body style
         @tip Set the background color and borders for your email's body area.
         */
        
        #templateBody {
            /*@editable*/
            background-color: #FFFFFF;
            /*@editable*/
            border-top: 0;
            /*@editable*/
            border-bottom: 0;
        }
        /*
         @tab Body
         @section body text
         @tip Set the styling for your email's body text. Choose a size and color that is easy to read.
         */
        
        .bodyContainer .TextContent,
        .bodyContainer .TextContent p {
            /*@editable*/
            color: #7a8991;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 15px;
            /*@editable*/
            line-height: 150%;
            /*@editable*/
            text-align: left;
        }
        /*
         @tab Body
         @section body link
         @tip Set the styling for your email's body links. Choose a color that helps them stand out from your text.
         */
        
        .bodyContainer .TextContent a {
            /*@editable*/
            color: #eb7f30;
            /*@editable*/
            font-weight: bold;
            /*@editable*/
            text-decoration: underline;
        }
        /*
         @tab Columns
         @section column style
         @tip Set the background color and borders for your email's columns area.
         */
        
        #templateColumns {
            /*@editable*/
            background-color: #FFFFFF;
            /*@editable*/
            border-top: 0;
            /*@editable*/
            border-bottom: 0;
        }
        /*
         @tab Columns
         @section left column text
         @tip Set the styling for your email's left column text. Choose a size and color that is easy to read.
         */
        
        .leftColumnContainer .TextContent,
        .leftColumnContainer .TextContent p {
            /*@editable*/
            color: #7a8991;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 14px;
            /*@editable*/
            line-height: 150%;
            /*@editable*/
            text-align: center;
        }
        /*
         @tab Columns
         @section left column link
         @tip Set the styling for your email's left column links. Choose a color that helps them stand out from your text.
         */
        
        .leftColumnContainer .TextContent a {
            /*@editable*/
            color: #6DC6DD;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: underline;
        }
        /*
         @tab Columns
         @section center column text
         @tip Set the styling for your email's center column text. Choose a size and color that is easy to read.
         */
        
        .centerColumnContainer .TextContent,
        .centerColumnContainer .TextContent p {
            /*@editable*/
            color: #7a8991;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 14px;
            /*@editable*/
            line-height: 150%;
            /*@editable*/
            text-align: center;
        }
        /*
         @tab Columns
         @section center column link
         @tip Set the styling for your email's center column links. Choose a color that helps them stand out from your text.
         */
        
        .centerColumnContainer .TextContent a {
            /*@editable*/
            color: #6DC6DD;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: underline;
        }
        /*
         @tab Columns
         @section right column text
         @tip Set the styling for your email's right column text. Choose a size and color that is easy to read.
         */
        
        .rightColumnContainer .TextContent,
        .rightColumnContainer .TextContent p {
            /*@editable*/
            color: #7a8991;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 14px;
            /*@editable*/
            line-height: 150%;
            /*@editable*/
            text-align: center;
        }
        /*
         @tab Columns
         @section right column link
         @tip Set the styling for your email's right column links. Choose a color that helps them stand out from your text.
         */
        
        .rightColumnContainer .TextContent a {
            /*@editable*/
            color: #6DC6DD;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: underline;
        }
        /*
         @tab Footer
         @section footer style
         @tip Set the background color and borders for your email's footer area.
         */
        
        #templateFooter {
            /*@editable*/
            background-color: #2f70dd;
            /*@editable*/
            border-top: 0;
            /*@editable*/
            border-bottom: 0;
        }
        /*
         @tab Footer
         @section footer text
         @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
         */
        
        .footerContainer .TextContent,
        .footerContainer .TextContent p {
            /*@editable*/
            color: #bdd8f9;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 11px;
            /*@editable*/
            line-height: 125%;
            /*@editable*/
            text-align: center;
        }
        /*
         @tab Footer
         @section footer link
         @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
         */
        
        .footerContainer .TextContent a {
            /*@editable*/
            color: #ffb555;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: underline;
        }
        
        @media only screen and (max-width: 480px) {
            body,
            table,
            td,
            p,
            a,
            li,
            blockquote {
                -webkit-text-size-adjust: none !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            body {
                width: 100% !important;
                min-width: 100% !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            td[id=bodyCell] {
                padding: 10px !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            table[class=TextContentContainer] {
                width: 100% !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            table[class=BoxedTextContentContainer] {
                width: 100% !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            table[class=mcpreview-image-uploader] {
                width: 100% !important;
                display: none !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            img[class=Image] {
                width: 100% !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            table[class=ImageGroupContentContainer] {
                width: 100% !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            td[class=ImageGroupContent] {
                padding: 9px !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            td[class=ImageGroupBlockInner] {
                padding-bottom: 0 !important;
                padding-top: 0 !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            tbody[class=ImageGroupBlockOuter] {
                padding-bottom: 9px !important;
                padding-top: 9px !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            table[class=CaptionTopContent],
            table[class=CaptionBottomContent] {
                width: 100% !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            table[class=CaptionLeftTextContentContainer],
            table[class=CaptionRightTextContentContainer],
            table[class=CaptionLeftImageContentContainer],
            table[class=CaptionRightImageContentContainer],
            table[class=ImageCardLeftTextContentContainer],
            table[class=ImageCardRightTextContentContainer] {
                width: 100% !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            td[class=ImageCardLeftImageContent],
            td[class=ImageCardRightImageContent] {
                padding-right: 18px !important;
                padding-left: 18px !important;
                padding-bottom: 0 !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            td[class=ImageCardBottomImageContent] {
                padding-bottom: 9px !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            td[class=ImageCardTopImageContent] {
                padding-top: 18px !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            table[class=CaptionLeftContentOuter] td[class=TextContent],
            table[class=CaptionRightContentOuter] td[class=TextContent] {
                padding-top: 9px !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            td[class=CaptionBlockInner] table[class=CaptionTopContent]:last-child td[class=TextContent] {
                padding-top: 18px !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            td[class=BoxedTextContentColumn] {
                padding-left: 18px !important;
                padding-right: 18px !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            td[class=columnsContainer] {
                display: block !important;
                max-width: 600px !important;
                width: 100% !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            td[class=TextContent] {
                padding-right: 18px !important;
                padding-left: 18px !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            /*
         @tab Mobile Styles
         @section template width
         @tip Make the template fluid for portrait or landscape view adaptability. If a fluid layout doesn't work for you, set the width to 300px instead.
         */
            table[id=templateContainer],
            table[id=templatePreheader],
            table[id=templateHeader],
            table[id=templateColumns],
            table[class=templateColumn],
            table[id=templateBody],
            table[id=templateFooter] {
                /*@tab Mobile Styles
         @section template width
         @tip Make the template fluid for portrait or landscape view adaptability. If a fluid layout doesn't work for you, set the width to 300px instead.*/
                max-width: 600px !important;
                /*@editable*/
                width: 100% !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            /*
         @tab Mobile Styles
         @section heading 1
         @tip Make the first-level headings larger in size for better readability on small screens.
         */
            h1 {
                /*@editable*/
                font-size: 24px !important;
                /*@editable*/
                line-height: 125% !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            /*
         @tab Mobile Styles
         @section heading 2
         @tip Make the second-level headings larger in size for better readability on small screens.
         */
            h2 {
                /*@editable*/
                font-size: 20px !important;
                /*@editable*/
                line-height: 125% !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            /*
         @tab Mobile Styles
         @section heading 3
         @tip Make the third-level headings larger in size for better readability on small screens.
         */
            h3 {
                /*@editable*/
                font-size: 18px !important;
                /*@editable*/
                line-height: 125% !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            /*
         @tab Mobile Styles
         @section heading 4
         @tip Make the fourth-level headings larger in size for better readability on small screens.
         */
            h4 {
                /*@editable*/
                font-size: 16px !important;
                /*@editable*/
                line-height: 125% !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            /*
         @tab Mobile Styles
         @section Boxed Text
         @tip Make the boxed text larger in size for better readability on small screens. We recommend a font size of at least 16px.
         */
            table[class=BoxedTextContentContainer] td[class=TextContent],
            td[class=BoxedTextContentContainer] td[class=TextContent] p {
                /*@editable*/
                font-size: 18px !important;
                /*@editable*/
                line-height: 125% !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            /*
         @tab Mobile Styles
         @section Preheader Visibility
         @tip Set the visibility of the email's preheader on small screens. You can hide it to save space.
         */
            table[id=templatePreheader] {
                /*@editable*/
                display: block !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            /*
         @tab Mobile Styles
         @section Preheader Text
         @tip Make the preheader text larger in size for better readability on small screens.
         */
            td[class=preheaderContainer] td[class=TextContent],
            td[class=preheaderContainer] td[class=TextContent] p {
                /*@editable*/
                font-size: 14px !important;
                /*@editable*/
                line-height: 115% !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            /*
         @tab Mobile Styles
         @section Header Text
         @tip Make the header text larger in size for better readability on small screens.
         */
            td[class=headerContainer] td[class=TextContent],
            td[class=headerContainer] td[class=TextContent] p {
                /*@editable*/
                font-size: 18px !important;
                /*@editable*/
                line-height: 125% !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            /*
         @tab Mobile Styles
         @section Body Text
         @tip Make the body text larger in size for better readability on small screens. We recommend a font size of at least 16px.
         */
            td[class=bodyContainer] td[class=TextContent],
            td[class=bodyContainer] td[class=TextContent] p {
                /*@editable*/
                font-size: 18px !important;
                /*@editable*/
                line-height: 125% !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            /*
         @tab Mobile Styles
         @section Left Column Text
         @tip Make the left column text larger in size for better readability on small screens. We recommend a font size of at least 16px.
         */
            td[class=leftColumnContainer] td[class=TextContent],
            td[class=leftColumnContainer] td[class=TextContent] p {
                /*@editable*/
                font-size: 18px !important;
                /*@editable*/
                line-height: 125% !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            /*
         @tab Mobile Styles
         @section Center Column Text
         @tip Make the center column text larger in size for better readability on small screens. We recommend a font size of at least 16px.
         */
            td[class=centerColumnContainer] td[class=TextContent],
            td[class=centerColumnContainer] td[class=TextContent] p {
                /*@editable*/
                font-size: 18px !important;
                /*@editable*/
                line-height: 125% !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            /*
         @tab Mobile Styles
         @section Right Column Text
         @tip Make the right column text larger in size for better readability on small screens. We recommend a font size of at least 16px.
         */
            td[class=rightColumnContainer] td[class=TextContent],
            td[class=rightColumnContainer] td[class=TextContent] p {
                /*@editable*/
                font-size: 18px !important;
                /*@editable*/
                line-height: 125% !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            /*
         @tab Mobile Styles
         @section footer text
         @tip Make the body content text larger in size for better readability on small screens.
         */
            td[class=footerContainer] td[class=TextContent],
            td[class=footerContainer] td[class=TextContent] p {
                /*@editable*/
                font-size: 14px !important;
                /*@editable*/
                line-height: 115% !important;
            }
        }
        
        @media only screen and (max-width: 480px) {
            td[class=footerContainer] a[class=utilityLink] {
                display: block !important;
            }
        }

